//Exemplo de criação//
/////////////////////
// @mixin border-radius($radius) {
//     -webkit-border-radius: $radius;
//        -moz-border-radius: $radius;
//         -ms-border-radius: $radius;
//             border-radius: $radius;
//   }

//Como usar
//   .box { @include border-radius(10px); }

@mixin background-size($background-size) {
    -webkit-background-size: $background-size;
       -moz-background-size: $background-size;
            -o-background-size: $background-size;
                background-size: $background-size;
  }

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
            -ms-border-radius: $radius;
                border-radius: $radius;
}
  
@mixin filter-blur($blur) {
    -webkit-filter: blur($blur);
        -moz-filter: blur($blur);
            -o-filter: blur($blur);
                -ms-filter: blur($blur);
                    filter: blur($blur);
}
  