

h1 {
    font-size: 36px;
    font-family: $font-family-1;
}

h2 {
    font-size: 30px;
    font-family: $font-family-1;
}

h3 {
    font-size: 24px;
    font-family: $font-family-2;
    font-weight: lighter;
}

h4 {
    font-size: 18px;
    font-family: $font-family-2;
    font-weight: lighter;
}

h5 {
    font-size: 14px;
}

header {
    width: 100%;
    padding: 50px 0;
    color: #FFF;
    background-color: #333333;

    .thumbnail {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: block;

        @include border-radius(100px)
    }

    .description {
        text-align: center;

        .name {
            margin-top: 30px;
            font-size: 54px;
            font-weight: 300;
        }
    }
    // .blur{
    //     width: 100%;
    //     height: 400px;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     //background-image: url('../img/bg-header.jpg');
    
    //     @include background-size('cover');
    //     //@include filter-blur(15px);
    // }
}