//Exemplo de criação//
/////////////////////
// $font-stack:    Helvetica, sans-serif;
// $primary-color: #333;

//Como usar
// body {
//   font: 100% $font-stack;
//   color: $primary-color;
// }

$font-xs: 8px;
$font-sm: 12px;
$font-md: 16px;
$font-lg: 20px;

$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'Open Sans', sans-serif;
